<%= form_for @tag_feed, url: tag_feed_index_path do |f| %>
  <% if @tag_feed.new_record? %>
    <div class="form-group">
      <%= f.label :hashtag %>
      <%= f.text_field :hashtag, class: "form-control", id: 'hashtag', placeholder: 'Tag name'%>
    </div>
  <% end %>  
  <div class="form-group">
    <%= f.label :start_date %>
    <div class='input-group date' id='startdate'>
      <%= f.text_field :start_date, class: "form-control" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_date %>
    <div class='input-group date' id='enddate'>
      <%= f.text_field :end_date, class: "form-control" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <%= f.submit "Submit", class: "btn btn-default" %>

  <script type="text/javascript">
    $(function () {
        $('#startdate').datetimepicker();
        $('#enddate').datetimepicker();
    });
  </script>
<% end %>