<% provide(:title, @tag_feed.hashtag) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
      <h1><%= "# #{@tag_feed.hashtag}"%></h1>
      <ul class="collection-list">
        <% @tag_feed.media.each do |media| %>
          <% data = media.data %>
          <li class="card instagram-post">
            <div class="header clearfix">
              <p class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> <%= Time.at(data["created_time"].to_i).to_formatted_s(:long)%></p>   
              <%= image_tag(data["user"]["profile_picture"], class: "pull-left")%>
              <p><%= data["user"]["username"]%></p>
            </div>

            <% if(data["type"] == "image")%>
              <%= image_tag(data["images"]["standard_resolution"]["url"], class: "media")%>
            <% else %>
              <%= video_tag(data["videos"]["standard_resolution"]["url"], class: "media", poster: data["images"]["standard_resolution"]["url"], type: "video/mp4", controls: true)%>
            <% end %>
            <p class="likes"><i class="glyphicon glyphicon-heart text-muted"></i> <%= data["likes"]["count"] %> likes</p>
            <p class="caption"><i class="glyphicon glyphicon-comment text-muted"></i> <%= data["caption"]["text"] %></p>
            <p class="link"><%= link_to "Go to Instagram", data["link"], target: "_blank" %>
         </li>
        <% end%>
      </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <!--Button prepared for paginate media-->
    <!--<button class="btn btn-primary load-more"><i class="glyphicon glyphicon-chevron-down"></i> Load more results <i class="glyphicon glyphicon-chevron-down"></i></button>-->
  </div>
</div>